// COLORS
$primary-color: #FEDB37;
$secondary-color: #9f7928;

$white-color: #000000;

$dark-grey: #adadad;
$light-grey: #5a5a5a;

$dark-blue-text: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
